html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-family: "Microsoft YaHei UI";
  vertical-align:  baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
input, textarea {
  margin: 0;
  padding: 0
}
img{
  max-width: 100%;
  vertical-align: middle;
}
html{
  height: 100%;
}
body {
  line-height: 1.6;
  height: 100%;
}
#app {
  height: 100%;
}
